<div class="container-flouid">
    <%= render(NavigationComponent.new(nav: @nav)) %>

    <div class="container text-center mt-4">
        <div class="row">
            <div class="col">
                <div data-controller="hello">
                    <input data-hello-target="name" placeholder="Enter your name" type="text">
                    <button data-action="click->hello#greet">Submit</button>
                    <p data-hello-target="output"></p>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col">
                <h3 class="mb-3">Basic Button Component with View Component</h3>
                <%= render(ButtonComponent.new(btnLabel: "Button", btnHref: "https://www.google.com", btnClass:"test")) %>
            </div>
        </div>
      <div class="row mt-5">
        <div class="col">
          <h3 class="mb-3">Advanced Button Component</h3>
          <%= render(AdvancedButtonComponent.new(
            type: AdvancedButtonComponent::PRIMARY,
            size: AdvancedButtonComponent::LG)) { "Primary Btn" } %>
          <%= render(AdvancedButtonComponent.new(
            type: AdvancedButtonComponent::SECONDARY,
            size: AdvancedButtonComponent::MD)) { "Secondary Btn" } %>
          <%= render(AdvancedButtonComponent.new(
            type: AdvancedButtonComponent::TEXT,
            size: AdvancedButtonComponent::MD)) { "Text Btn" } %>
        </div>
        <div class="row mt-5">
          <div class="col">
            <h3 class="mb-3">Card Component</h3>
            <%= render ItemCardComponent.new(title: 'Card Title', description: 'This is the card description') do |component| %>
              <% component.with_image do %>
                <%= image_tag("/cat.jpg", alt: "") %>
              <% end %>
            <% end %>
          </div>
      </div>
    </div>
</div>